@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #FF6B35;
  --secondary: #EF4444;
  --bg: #ffffff;
  --text: #171717;
  --border: #e5e7eb;
  --popup: #eeeeee;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --black: #000000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #FF8C65;
    --secondary: #F87171;
    --bg: #0a0a0a;
    --text: #ededed;
    --border: #374151;
  }
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-bg: var(--bg);
  --color-text: var(--text);
  --color-border: var(--border);
  --color-popup: var(--popup);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-black: var(--black);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.container {
  @apply max-w-[440px] mx-auto;
}