.phone-input-container {
    width: 100% !important;
    border: 1px solid var(--border) !important;
    border-radius: 8px !important;
}

.phone-input-input {
    height: 50px !important;
    padding-left: 45px !important;
    width: 100px !important;
    border: none !important;
    border-radius: 8px !important;
}

.phone-input-dropdown-container {
    background-color: var(--bg) !important;
    border-radius: 8px 0 0 8px !important;
    padding-left: 5px !important;
    border: none !important;
    border-radius: 8px !important;
}

.phone-input-dropdown-container .selected-flag {
    width: 100px !important;
}

.arabic .phone-input-dropdown-container .selected-flag {
    padding-right: 10px !important;
}

.phone-input-dropdown-container .flag .arrow {
    display: none;
}

.react-tel-input .flag {
    scale: 1.2;
}

.react-tel-input .country-list {
    z-index: 99999 !important;
}

.phone-input-search .search-emoji {
    display: none;
}

.phone-input-search {
    padding: 10px !important;
    left: 0;
    background: 'white';
    z-index: 999999;
}

.phone-input-search .search-box {
    width: 100%;
    margin: 0px !important;
    height: 40px;
    border-radius: 10px !important;
}